rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if request.auth != null && (request.auth.uid == uid || request.auth.token.admin == true);
    }
    
    match /published_1099s/{docId} {
      allow read: if request.auth != null && (resource == null || resource.data.operatorId == request.auth.uid || request.auth.token.admin == true);
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    
    match /batches/{batchId} {
      allow read, write: if request.auth != null && (resource == null || resource.data.operatorId == request.auth.uid || request.auth.token.admin == true);
      
      match /transactions/{transactionId} {
        allow read, write: if request.auth != null && (get(/databases/$(database)/documents/batches/$(batchId)).data.operatorId == request.auth.uid || request.auth.token.admin == true);
      }
    }
    
    match /operator_secure_data/{uid} {
      allow read, write: if request.auth != null && (request.auth.uid == uid || request.auth.token.admin == true);
    }
  }
}
